<section class="py-5 bg-light text-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-md-start">
        <h1 class="fw-bold text-primary">
          Safe and reliable <br />
          WEB HOSTING
        </h1>
        <p class="text-muted my-3">
          Get started with our fast and secure web hosting services.
        </p>
        <button class="btn btn-warning btn-lg text-white fw-bold">
          <a routerLink="/pricing" class="text-white" style="text-decoration: none"
            >
          GET STARTED</a>
        </button>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <img
          src="assets/server_icon.svg"
          alt="Server"
          class="img-fluid"
          height="300"
          width="300"
        />
      </div>
    </div>

    <div class="input-group mt-5 w-75 mx-auto">
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="example.com"
      />
      <button class="btn btn-warning text-white fw-bold">
        SEARCH DOMAIN
      </button>
    </div>
  </div>
</section>
