/* Styles de base pour le layout de la page */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content wrapper */
:host > *:not(app-footer) {
  flex: 1 0 auto;
}

/* Footer styles */
app-footer {
  flex-shrink: 0;
  width: 100%;
}
